
@import "Utils/mixins";

@import "Utils/Variables";

body
{

    @include font-roboto;
    background: #cc81d6;
}

.container
{
    position:relative;
    width: 200px;
    height: 200px;
}

.Rond
{
    width: 100%;
    height: 100%;
    border-left: 4px solid #9356DC;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.Texte
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

@keyframes rotate
{
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}