
/*Index/html*/

@import "Utils/mixins";

@import "Utils/Variables";




.container
{
    position: fixed;
    z-index: 9999; 
    top : 0px; 
    left : 0px; 
    height : 100vh; 
    width : 100vw; 
    background-color: white; 
    animation: loader 3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes loader
{
    0% {opacity: 100%;}
    80% {opacity: 100%;}
    100% {opacity: 0%; visibility: hidden;}
}
    

.Rond 
{
    
    position: relative;
    
    width: 200px;
    height: 200px;
    border-left: 4px solid #9356DC;
    border-radius: 50%;
    animation: Rotation 1s linear infinite;
}

.Texte
{
    position: absolute;
    font-family:  $font-shrikhand;
    text-align: center;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    
}

@keyframes Rotation 
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


/*..............*/

*
{
    padding: 0;
    margin: 0;
    font-family: $font-roboto;
}

header
{
    @include Header;

    @media (min-width: 768px) {
        height: 80px;
    }

    & img{
        width: 200px;

        @media (min-width: 768px) {
            width: 250px;
             }
        
    }

    
}

#Localisation
{
    background: rgb(190, 186, 186);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        padding-left: 10px;
        font-size: 15px;
    }
}


#Introduction
{
background: rgb(236, 236, 236);
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: space-between;
text-align: center;
gap: 10px;
h1{
   
        font-weight: 900;
    font-size: 20px;
    }

    p{
        font-weight: 100;
    }
}

.btn
{
    @include Button;

    &:hover{
        opacity: 0.9;
    }
}

#Fonctionnement, #Restaurants 
{
    padding-top: 30px;
}

.Fonctionnement__Titre
{
    font-weight: 900;
    font-size: 20px;
    padding-left: 15px;

    @media (min-width: 768px) {
        text-align: center;
         }
}

.Fonctionnement__container
{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: space-around;
   gap: 10px;
   padding-top: 15px ;

    &--number{
        position: absolute;
    left: -10px;
    background-color: #9356DC;
    border-radius: 50%;
    padding: 2px 6px 2px 6px;
    color: white;
    }

    @media (min-width: 768px) {
        flex-direction: initial;
        justify-content: center;
        margin: 20px;
         }
}

.Fonctionnement__container i
{
    @media (min-width: 768px) {
        left: 20px;
         }
}

.Box
{
background: rgb(236, 236, 236);
border: solid 1 px black;
border-radius: 20px;
width: 90%;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
font-size: 14px;

&:hover
{
    background-color: #f9e0f6;
}

@media (min-width: 768px) {
    margin-right: 10px;
     }
}

.Fonctionnement__container div:nth-child(3) i
{
color: #9356DC;
}


.fa-mobile-screen-button, .fa-list-ul, .fa-store
{
    color: grey;
    position: absolute;
    left: 30px;
}

#Restaurants
{
    background-color:rgb(236, 236, 236) ;  
    margin-top: 40px;

    @media (min-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
         }

         @media (min-width: 992px) {
            
            padding-bottom: 30px;
             }
}
    



.Restaurants__Titre
{
    font-weight: 900;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    @media (min-width: 992px) {
            text-align: center;
         }
}

.Restaurants-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 20px;
    @media (min-width: 768px) {
        flex-direction: initial;
        justify-content: center;
       gap: 0;
       
         }
}

.Card
{
    width: 90%;
    height: 210px;
    border: solid 1px;
    border-style: none;
    background-color: white;
    border-radius: 10px;
    position: relative;

    & i:hover{
        color:  #9356DC;
        font-weight: bold;
    }

    & img{
     width: 100%;
    height: 140px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
    }

    & i{
     position: absolute;
    right: 20px;
    bottom: 25px;
    font-size: 20px;
    @media (min-width: 768px) {
        bottom: 20px;
         }
        &:hover
    {
        cursor: grab;
    }
    }
    @media (min-width: 768px) {
        margin-right: 10px;
        
         }
}


.sous-nom
{
    font-weight: 100;
}
 a
{
    text-decoration: none;
    color: black;
}

.Nouveau
{
    height: 20px;
    background: #99E2D0;
    position: absolute;
    top: 10px;
    right: 10px;
    border: solid 1px;
    border-radius: 3px;
    border-style: none;
    color: #288925;
    text-align: center;
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
}

footer
{
    background: rgb(72, 72, 72);
    color: white;
    width: 100%;

    & li{

        list-style: none;
        padding-left: 15px;  
        padding-bottom: 5px;
    }

    & ul{
        padding-bottom: 10px;
    }

    & h5{
        font-family: $font-shrikhand;
        font-weight: normal;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    }

    @media (min-width: 768px) {
        text-align: center;
       
         }

}




/*Palettedugout/html*/



#fleche
{
   position: relative;
   right : 70px;
 
   @media (min-width: 768px) {
    font-size: 20px;
   }

   @media (min-width: 992px) {
    font-size: 30px;
   }

}
.background-image
{
    width: 100%;
    display: block
}

.background-fond
{
    background: #f0efef;
    border: solid 1px;
    border-style: none;
    border-radius: 50px 50px 0 0;
    transform: scaleY(1.1);
    padding-bottom: 20px;
    margin-bottom: 45px;
    width: 100%;
}

.TitredumenuetCoeur
{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    & i{
        font-size: 22px;
    }

    & i:hover {
    color:  #9356DC;
    font-weight: bold;
    }

    @media (min-width: 768px){
        justify-content: center;
    }

    & h1 {

        font-family: $font-shrikhand;

        @media (min-width: 768px){
            margin-right: 50px;
        }

        @media (min-width: 992px){
            margin-right: 90px;
        }
       
    }
}




.Container-menu
{
    display: flex;
    flex-direction: column;

    @media (min-width: 992px){
        
        justify-content: center;
        align-content: center;
        align-items: center;
       
    }
}

.Sous-titres
{
    font-weight: 100;
    margin-bottom: 15px;
    margin-left: 15px;

    & span{
        border-bottom: 3px solid #99E2D0;
    }
    @media (min-width: 768px){
        text-align: center;
    }
}



.Entrées, .Plats, .Desserts
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    margin-left: 10px;
    margin-right: 10px;

    @media(min-width: 768px){
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: initial;
    }
    @media(min-width: 992px){
    width: 100%;
    
}
}


.Menu-Box
{
    width: 100%;
    height: 60px;
    opacity: 0;
    margin-bottom: 10px;
    /*border: solid 1px;*/
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #E8E8E8;;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    animation: bottomslide 2s forwards;

    &:hover .sous-nom{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover .AjoutPanier{
      transform: translateX(0);
      max-width: 70px;
        min-width: 70px;
        @media (min-width: 768px){
            height: 130px;
            max-width: 100px;
            min-width: 100px;
        }
    }
   
    @media (min-width: 768px){
        margin-left: 10px;
        margin-right: 10px;
    }

    &--2{
        animation-delay:.25s;
    }

    &--3{
        animation-delay: .5s;
    }

    &--4{
        animation-delay: .75s;
    }
}

.Box-NomETSous-nom
{
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    @media (min-width: 768px){
        width: 80%;
        
    }
}


.sous-nom
{
   
    font-size: 16px;
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.nom
{
    padding-left: 10px;
    font-size: 18px;
    white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 900;
    @media (min-width: 768px){
      
        padding-bottom: 5px;
        width: 100%;
    }
}

.Box-Prix
{
    margin-top: 25px;
    width: 10%;
    padding-right: 25px;
  
}


.prix
{
    font-size: 15px;
    font-weight: 500;
    @media (min-width: 768px){
      
        font-size: 17px;
    }
}

@keyframes bottomslide
{ 
from {
    transform: translateY(60px);
    opacity: 0;
}

to {
    transform: translateY(0);
    opacity: 1;
}
}

.AjoutPanier
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99E2D0;
    max-width: 0;
    min-width: 0;
    height: 60px;
    border-radius: 0px 10px 10px 0px ;
    border: solid 1px;
    border-style: none;
   transform:translateX(100px);
   transition:all .5s;
    /*@media (min-width: 768px){
        height: 100px;
    }*/
}

@keyframes leftslide
{ 
0% {
    transform: translatex(100px);
    width: 0px;
}

100% {
    transform: translatex(0);
    width: 70px;
}

}

@media (min-width: 768px){
    @keyframes leftslide
{ 
0% {
    transform: translatex(100px);
    width: 0px;
}

100% {
    transform: translatex(0);
    width: 100px;
}

}
}


@keyframes rightslide
{ 
0% {
    transform: translatex(0);
    width: 70px;
}

100% {
    transform: translatex(100px);
    width: 0;
}

}

 .fa-circle-check
{
    font-size: 20px;
    color: white;
}


.Menu-Box:hover .fa-circle-check
{
    animation: Rotation 1s;
}

@keyframes Rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.ButtonCommander-container

{
    margin-bottom: 20px;
    margin-top: 20px;
}



.ButtonCommander
{
    @include Button;
    width: 200px;

    &:hover{
        opacity: 0.9;
    cursor: grab;
    }

    &-container{
        display: flex;
        justify-content: center;
    @media (min-width: 768px){
    margin-top: 40px;
    }}

    @media (min-width: 768px){
        height: 60px;
        width: 250px;
    }

    
}

.fa-utensils
{
    padding-right: 5px;
}

.fa-handshake-angle
{
    padding-right: 5px;
}



