
/*Index/html*/

@import "Utils/mixins";

@import "Utils/Variables";

*
{
@include General;
/*border: solid black 2px;*/
}

/*LOADER

.container
{
    position: fixed;
    z-index: 9999; 
    top : 0px; 
    left : 0px; 
    height : 100%; 
    width : 100%; 
    background-color: white; 
    animation: loader 3sec both;
}

@keyframes loader
{
    0% {opacity: 0%;}
    10% {opacity: 100%;}
    100% {opacity: 0%;}
}
    

.Rond 
{
    
    position: relative;
    left: 220px;
    width: 200px;
    height: 200px;
    border-left: 4px solid black;
    border-radius: 50%;
    animation: Rotation 1s linear infinite;
}

.Texte
{
    position: relative;
    top: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes Rotation 
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


*/
/*..............*/

p
{
    @include font-roboto;
}

header
{
    @include Header;
}

.header__Logo
{
    width: 40%;
    height: 65%;
}

#Localisation
{
@include Localisation;
}

#Localisation p
{
    padding-left: 10px;
    font-size: 15px;
}

#Réservez
{
@include Réservez;

}

#Réservez p:nth-child(1)
{
    font-weight: 900;
    font-size: 20px;
}

#Réservez p:nth-child(2)
{
    font-weight: 100;
    
}

.btn
{
    @include Button;
}

.btn:hover
{
   @include Button-hover
}

#Fonctionnement, #Restaurants 
{
    padding-top: 30px;
}

.Fonctionnement__Titre
{
    @include Fonctionnement__Titre;
}

.Fonctionnement__step
{
    @include Fonctionnement__step;
}
.Fonctionnement__step--number
{
   @include Fonctionnement__step--number 
}

.Choisir
{
    @include Fonctionnement__Box;
    font-size: 14px;
}
.Composer
{
    @include Fonctionnement__Box;
    font-size: 14px;
}

.Deguster
{
    @include Fonctionnement__Box;
    font-size: 14px;
}

.Deguster i
{
    color: #9356DC;
}


.fa-mobile-screen-button, .fa-list-ul, .fa-store
{
    @include Fonctionnement__Box--fa-solid
}

#Restaurants
{
    @include Restaurants-Section;
}

.Restaurants__Titre
{
    @include Restaurants__Titre;
}

.Restaurants-container
{
@include Restaurants-container;
padding-top: 15px;
}

.Card-1 i:hover, .Card-2 i:hover, .Card-3 i:hover, .Card-4 i:hover
{
@include Coeur-hover;
}

.Card-1, .Card-2, .Card-3, .Card-4
{
    @include Restaurants__Card 
    
}


.Card-1 img, .Card-2 img, .Card-3 img, .Card-4 img 
{
@include Restaurants__Card--img
}

.Card-1 i, .Card-2 i, .Card-3 i, .Card-4 i
{
    @include Card__fa-heart;
}

.Card-1 i:hover, .Card-2 i:hover, .Card-3 i:hover, .Card-4 i:hover
{
    cursor: grab;
}
.nom
{
    font-weight: 900;
}

.sous-nom
{
    font-weight: 100;
}
 a
{
  @include Lien-a;
}

.Nouveau
{
    @include Nouveau;
}

footer
{
    @include Footer;
}
.footer-h5
{
    @include font-Shrikhand;
     @include footer-h5;
    
}
footer li 
{
    list-style: none;
    padding-left: 15px;  
    padding-bottom: 5px;
}

footer ul
{
    padding-bottom: 10px;
}

/*Media Queries : page d'acceuil*/

@media only screen and (min-width: 768px) 
{

    header 
    {
        height: 80px;
    }
    

    .Restaurants-container
    {
        flex-direction: initial;
        justify-content: center;
       gap: 0;
        
    }

    #Restaurants
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    .Fonctionnement__step
    {
        flex-direction: initial;
        justify-content: center;
        margin: 20px;
    }

    .Fonctionnement__step i 
    {
        left: 20px;
    }

    .Fonctionnement__Titre
    {
        text-align: center;
    }
    .Choisir, .Composer, .Deguster
    {
        margin-right: 10px;
    }

    .Card-1, .Card-2, .Card-3
    {
        margin-right: 10px;
    }

    .Footer 
    {
text-align: center;
    }
} 


@media only screen and (min-width: 992px) 
{
    header 
    {
        height: 100px;
    }
}


/*Palettedugout/html*/

.fa-arrow-left
{
   position: relative;
   right : 70px;
 

}
.background-image
{
    @include background-image;
}

.background-fond
{
    @include background-fond;
}

.TitredumenuetCoeur
{
    @include font-Shrikhand;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
   
}

.TitredumenuetCoeur i
{
@include Coeur;
}

.TitredumenuetCoeur i:hover
{
    @include Coeur-hover;
}

.Container-menu
{
    display: flex;
    flex-direction: column;

}

.Sous-titres
{
    @include Sous-titres;
   
}




.Sous-titre-Entrées span
{
    @include span;
}

.Sous-titres span
{
    @include span;
    
}

.Sous-titre-Entrées
{
    margin-top: 30px;
    margin-left: 20px;
    
    margin-bottom: 15px;
    font-weight: 100;
}

.Sous-titres-Desserts
{
    margin-top: 30px;
    margin-left: 20px;
   
    margin-bottom: 15px;
    font-weight: 100;
}
.Sous-titres-Desserts span
{
    @include span;
}


.Entrées, .Plats, .Desserts
{
@include Entrées-Plats-Dessert;

}


.Entrée__box--container
{
    display: flex;
    justify-content: space-between;
}

.Entrée__box--1, .Entrée__box--2, .Entrée__box--3, .Plat__box--1, .Plat__box--2, .Plat__box--3, .Dessert__box--1, .Dessert__box--2, .Dessert__box--3
{
    @include Entrée-Plat-Dessert__box;
    animation: bottomslide 2s;
   
}

.Entrée__box1, .Plat__box1, .Dessert__box1
{
    width: 75%;
    
}


.Entrée__box--1:hover .sous-nom, .Entrée__box--2:hover .sous-nom, .Entrée__box--3:hover .sous-nom, .Plat__box--1:hover .sous-nom, .Plat__box--2:hover .sous-nom, .Plat__box--3:hover .sous-nom, .Dessert__box--1:hover .sous-nom, .Dessert__box--2:hover .sous-nom, .Dessert__box--3:hover .sous-nom
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





.sous-nom
{
    white-space: nowrap;
    font-size: 13.5px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}


.nom
{
    padding-left: 10px;
    font-size: 15px;
}

.Entrée__box1-bis
{
    margin-top: 20px;
}

.prix
{
    font-size: 15px;
    font-weight: 500;
}
@keyframes bottomslide
{ 
from {
    transform: translateY(60px);
    opacity: 0;
}

to {
    transform: translateY(0);
    opacity: 1;
}
}

.AjoutPanier
{
    @include AjoutPanier;
    width: 0;
}


.Entrée__box--1:hover .AjoutPanier, .Entrée__box--2:hover .AjoutPanier, .Entrée__box--3:hover .AjoutPanier, .Plat__box--1:hover .AjoutPanier, .Plat__box--2:hover .AjoutPanier, .Plat__box--3:hover .AjoutPanier,  .Dessert__box--1:hover .AjoutPanier, .Dessert__box--2:hover .AjoutPanier, .Dessert__box--3:hover .AjoutPanier
{
    animation: leftslide 3s;
    
}

@keyframes leftslide
{ 
0% {
    transform: translatex(70px);
    width: 0px;
}

50% {
    transform: translatex(0);
    width: 70px;
}

100% {
    transform: translatex(70px);
    width: 0px;
}
}



 .fa-circle-check
{
    @include AjoutPanier--Logo;
    
}

.Entrée__box--1:hover .fa-circle-check, .Entrée__box--2:hover .fa-circle-check, .Entrée__box--3:hover .fa-circle-check, .Plat__box--1:hover .fa-circle-check, .Plat__box--2:hover .fa-circle-check, .Plat__box--3:hover .fa-circle-check,  .Dessert__box--1:hover .fa-circle-check, .Dessert__box--2:hover .fa-circle-check, .Dessert__box--3:hover .fa-circle-check
{
    animation: Rotation 2s;
}

@keyframes Rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.ButtonCommander-container
{
@include ButtonCommander-container;
}

.ButtonCommander
{
    @include Button;
    width: 40%;

}

.ButtonCommander:hover
{
    @include Button-hover;
    cursor: grab;
}

/*Media Queries : Palette du gout*/

@media only screen and (min-width: 768px) 
{

header i 
{
    font-size: 20px;
}

.TitredumenuetCoeur
{
    justify-content: center;
}

.TitredumenuetCoeur h1
{
    margin-right: 50px;
}

.Entrée__box--1,.Entrée__box--2, .Entrée__box--3, .Plat__box--1, .Plat__box--2, .Plat__box--3, .Dessert__box--1, .Dessert__box--2, .Dessert__box--3
{
height: 100px;
}

.Sous-titre-Entrées, .Sous-titres
{
    text-align: center;
}

.AjoutPanier
{
    height: 100px;
}

@keyframes leftslide
{ 
0% {
    transform: translatex(70px);
    width: 0px;
}

50% {
    transform: translatex(0);
    width: 110px;
}

100% {
    transform: translatex(70px);
    width: 0px;
}
}

.fa-circle-check
{
    left: 45px;
    top: 40px;
    
}

footer 
{
margin-top: 60px;

}

.ButtonCommander-container
{
    margin-top: 40px;
}

.ButtonCommander
{
    height: 60px;
}

footer
{
    text-align: center;
    padding-top:10px;
}

}

@media only screen and (min-width: 992px) 
{

    header i 
    {
        font-size: 30px;
    }

.TitredumenuetCoeur h1
{
 margin-right: 90px;
}
    

.Container-menu
{
flex-direction: initial;
justify-content: space-around;
align-items: flex-end;
}

.Entrées, .Plats, .Desserts
{
    width: 90%;
}

.Entrée__box1, .Plat__box1, .Dessert__box1
{
    width: 50%;
}



}

