@charset "UTF-8";
/*Index/html*/
/*Index/html*/
/*Lapalettedugout/html*/
* {
  padding: 0;
  margin: 0;
  /*border: solid black 2px;*/
}

p {
  font-family: "Roboto", sans-serif;
}

header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__Logo {
  width: 40%;
  height: 65%;
}

#Localisation {
  background: #bebaba;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Localisation p {
  padding-left: 10px;
  font-size: 15px;
}

#Réservez {
  background: #ececec;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  text-align: center;
  gap: 10px;
}

#Réservez p:nth-child(1) {
  font-weight: 900;
  font-size: 20px;
}

#Réservez p:nth-child(2) {
  font-weight: 100;
}

.btn {
  height: 30px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: solid 1px;
  border-style: none;
  border-radius: 20px;
  padding: 20px 10px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:hover {
  opacity: 0.9;
}

#Fonctionnement, #Restaurants {
  padding-top: 30px;
}

.Fonctionnement__Titre {
  font-weight: 900;
  font-size: 20px;
  padding-left: 15px;
}

.Fonctionnement__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  gap: 10px;
  padding-top: 15px;
}

.Fonctionnement__step--number {
  position: absolute;
  left: -10px;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 2px 6px 2px 6px;
  color: white;
}

.Choisir {
  background: #ececec;
  border: solid 1 px black;
  border-radius: 20px;
  width: 90%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
}

.Composer {
  background: #ececec;
  border: solid 1 px black;
  border-radius: 20px;
  width: 90%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
}

.Deguster {
  background: #ececec;
  border: solid 1 px black;
  border-radius: 20px;
  width: 90%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
}

.Deguster i {
  color: #9356DC;
}

.fa-mobile-screen-button, .fa-list-ul, .fa-store {
  color: grey;
  position: absolute;
  left: 30px;
}

#Restaurants {
  background-color: #ececec;
  margin-top: 40px;
}

.Restaurants__Titre {
  font-weight: 900;
  font-size: 20px;
  padding-left: 15px;
}

.Restaurants-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 100%;
  padding-top: 15px;
}

.Card-1 i:hover, .Card-2 i:hover, .Card-3 i:hover, .Card-4 i:hover {
  color: #9356DC;
  font-weight: bold;
}

.Card-1, .Card-2, .Card-3, .Card-4 {
  width: 90%;
  height: 210px;
  border: solid 1px;
  border-style: none;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.Card-1 img, .Card-2 img, .Card-3 img, .Card-4 img {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.Card-1 i, .Card-2 i, .Card-3 i, .Card-4 i {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
}

.Card-1 i:hover, .Card-2 i:hover, .Card-3 i:hover, .Card-4 i:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.nom {
  font-weight: 900;
}

.sous-nom {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
}

.Nouveau {
  height: 20px;
  background: #99E2D0;
  position: absolute;
  top: 10px;
  right: 10px;
  border: solid 1px;
  border-radius: 3px;
  border-style: none;
  color: #288925;
  text-align: center;
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
}

footer {
  background: #484848;
  color: white;
  width: 100%;
}

.footer-h5 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

footer li {
  list-style: none;
  padding-left: 15px;
  padding-bottom: 5px;
}

footer ul {
  padding-bottom: 10px;
}

/*Media Queries : page d'acceuil*/
@media only screen and (min-width: 768px) {
  .Restaurants-container {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
  }
  #Restaurants {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Fonctionnement__step {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
  }
  .Choisir, .Composer, .Deguster {
    margin-right: 10px;
  }
  .Card-1, .Card-2, .Card-3, .Card-4 {
    margin-right: 10px;
  }
  .Footer {
    text-align: center;
  }
}

/*Palettedugout/html*/
.fa-arrow-left {
  position: relative;
  right: 70px;
}

.background-image {
  width: 100%;
  display: block;
}

.background-fond {
  background: #f0efef;
  border: solid 1px;
  border-style: none;
  border-radius: 50px 50px 0 0;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
  padding-bottom: 20px;
  margin-bottom: 45px;
}

.TitredumenuetCoeur {
  font-family: "Shrikhand", sans-serif;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.TitredumenuetCoeur i {
  font-size: 22px;
}

.TitredumenuetCoeur i:hover {
  color: #9356DC;
  font-weight: bold;
}

.Sous-titres {
  font-weight: 100;
}

.Sous-titre-Entrées span {
  border-bottom: 3px solid #99E2D0;
}

.Sous-titres span {
  border-bottom: 3px solid #99E2D0;
  margin-left: 20px;
}

.Sous-titre-Entrées {
  margin-top: 30px;
  margin-left: 20px;
}

.Entrées, .Plats, .Desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 20px 0px;
}

.Entrée__box--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Entrée__box--1, .Entrée__box--2, .Entrée__box--3, .Plat__box--1, .Plat__box--2, .Plat__box--3, .Dessert__box--1, .Dessert__box--2, .Dessert__box--3 {
  width: 90%;
  height: 60px;
  margin-bottom: 10px;
  /*border: solid 1px;*/
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 2px #E8E8E8;
          box-shadow: 2px 2px 2px 2px #E8E8E8;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-animation: bottomslide 2s;
          animation: bottomslide 2s;
}

.Entrée__box1 {
  width: 75%;
}

.Entrée__box--1:hover .sous-nom, .Entrée__box--2:hover .sous-nom, .Entrée__box--3:hover .sous-nom, .Plat__box--1:hover .sous-nom, .Plat__box--2:hover .sous-nom, .Plat__box--3:hover .sous-nom, .Dessert__box--1:hover .sous-nom, .Dessert__box--2:hover .sous-nom, .Dessert__box--3:hover .sous-nom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sous-nom {
  white-space: nowrap;
  font-size: 13.5px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nom {
  padding-left: 10px;
  font-size: 15px;
}

.Entrée__box1-bis {
  margin-top: 20px;
}

.prix {
  font-size: 15px;
  font-weight: 500;
}

@-webkit-keyframes bottomslide {
  from {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bottomslide {
  from {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.AjoutPanier {
  background: #99E2D0;
  width: 70px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
  border: solid 1px;
  border-style: none;
  width: 0;
}

.Entrée__box--1:hover .AjoutPanier, .Entrée__box--2:hover .AjoutPanier, .Entrée__box--3:hover .AjoutPanier, .Plat__box--1:hover .AjoutPanier, .Plat__box--2:hover .AjoutPanier, .Plat__box--3:hover .AjoutPanier, .Dessert__box--1:hover .AjoutPanier, .Dessert__box--2:hover .AjoutPanier, .Dessert__box--3:hover .AjoutPanier {
  -webkit-animation: leftslide 3s;
          animation: leftslide 3s;
}

@-webkit-keyframes leftslide {
  0% {
    -webkit-transform: translatex(70px);
            transform: translatex(70px);
    width: 0px;
  }
  50% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    width: 70px;
  }
  100% {
    -webkit-transform: translatex(70px);
            transform: translatex(70px);
    width: 0px;
  }
}

@keyframes leftslide {
  0% {
    -webkit-transform: translatex(70px);
            transform: translatex(70px);
    width: 0px;
  }
  50% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    width: 70px;
  }
  100% {
    -webkit-transform: translatex(70px);
            transform: translatex(70px);
    width: 0px;
  }
}

.fa-circle-check {
  font-size: 20px;
  color: white;
  position: relative;
  left: 25px;
  top: 20px;
}

.Entrée__box--1:hover .fa-circle-check, .Entrée__box--2:hover .fa-circle-check, .Entrée__box--3:hover .fa-circle-check, .Plat__box--1:hover .fa-circle-check, .Plat__box--2:hover .fa-circle-check, .Plat__box--3:hover .fa-circle-check, .Dessert__box--1:hover .fa-circle-check, .Dessert__box--2:hover .fa-circle-check, .Dessert__box--3:hover .fa-circle-check {
  -webkit-animation: Rotation 2s;
          animation: Rotation 2s;
}

@-webkit-keyframes Rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.ButtonCommander-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ButtonCommander {
  height: 30px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border: solid 1px;
  border-style: none;
  border-radius: 20px;
  padding: 20px 10px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.ButtonCommander:hover {
  opacity: 0.9;
}
/*# sourceMappingURL=main.css.map */