
/*Index/html*/

@import "Utils/mixins";

@import "Utils/Variables";

*
{
@include General;

}

p
{
    @include font-roboto;
}

header
{
    @include Header;
}

.header__Logo
{
    width: 40%;
    height: 65%;
}

#Localisation
{
@include Localisation;
}

#Localisation p
{
    padding-left: 10px;
    font-size: 15px;
}

#Réservez
{
@include Réservez;

}

#Réservez p:nth-child(1)
{
    font-weight: 900;
    font-size: 20px;
}

#Réservez p:nth-child(2)
{
    font-weight: 100;
    
}

.btn
{
    @include Button;
}

.btn:hover
{
   @include Button-hover
}

#Fonctionnement span, #Restaurants span
{
    font-weight: 900;
    font-size: 20px;
    padding-left: 15px;
}

#Fonctionnement, #Restaurants 
{
    padding-top: 30px;
}

.Fonctionnement__step
{
    @include Fonctionnement__step;
}
.Fonctionnement__step--number
{
   @include Fonctionnement__step--number 
}

.Choisir
{
    @include Fonctionnement__Box;
    font-size: 14px;
}
.Composer
{
    @include Fonctionnement__Box;
    font-size: 14px;
}

.Deguster
{
    @include Fonctionnement__Box;
    font-size: 14px;
}


.fa-mobile-screen-button, .fa-list-ul, .fa-store
{
    @include Fonctionnement__Box--fa-solid
}

#Restaurants
{
    @include Restaurants-Section;
}

.Restaurants-container
{
@include Restaurants-container;
padding-top: 15px;
}

.Card-1 i:hover, .Card-2 i:hover, .Card-3 i:hover, .Card-4 i:hover
{
color:  #9356DC;
font-weight: bold;
}

.Card-1, .Card-2, .Card-3, .Card-4
{
    @include Restaurants__Card 
    
}

.Card-1:hover, .Card-2:hover, .Card-3:hover, .Card-4:hover
{
    opacity: 0.8;
}

.Card-1 img, .Card-2 img, .Card-3 img, .Card-4 img 
{
@include Restaurants__Card--img
}

.Card-1 i, .Card-2 i, .Card-3 i, .Card-4 i
{
    @include fa-heart;
}

.nom
{
    font-weight: 900;
}

.sous-nom
{
    font-weight: 100;
}
 a
{
  @include Lien-a;
}
footer
{
    @include Footer;
}
.footer-h5
{
    @include font-Shrikhand;
     @include footer-h5;
    
}
footer li 
{
    list-style: none;
    padding-left: 15px;  
    padding-bottom: 5px;
}

footer ul
{
    padding-bottom: 10px;
}

