
/*Index/html*/

@mixin General
{
padding: 0;
margin: 0;
}

@mixin Lien-a
{
    text-decoration: none;
    color: black;
}
@mixin font-roboto
{
    font-family: $font-roboto;
}

@mixin font-Shrikhand
{
font-family: $font-shrikhand;
}

@mixin Header 
{
height: 60px ;
display: flex;
justify-content: center;
align-items: center;
}

@mixin Localisation
{
background: rgb(190, 186, 186);
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}

@mixin Réservez
{
background: rgb(236, 236, 236);
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: space-between;
text-align: center;
gap: 10px;

}

@mixin Button
{
    height: 30px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border: solid 1px;
    border-style: none;
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Button-hover
{
opacity: 0.9;
}

@mixin Fonctionnement__step
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: space-around;
   gap: 10px;
   padding-top: 15px ;

}
@mixin Fonctionnement__Box 
{
background: rgb(236, 236, 236);
border: solid 1 px black;
border-radius: 20px;
width: 90%;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

@mixin Fonctionnement__step--number 
{
    position: absolute;
    left: -10px;
    background-color: #9356DC;
    border-radius: 50%;
    padding: 2px 6px 2px 6px;
    color: white;
}

@mixin Fonctionnement__Box--fa-solid
{
    color: grey;
    position: absolute;
    left: 30px;
}

@mixin Restaurants-Section
{
  background-color:rgb(236, 236, 236) ;  
  margin-top: 40px;
}
@mixin Restaurants-container
{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
 width: 100%;
}

@mixin Restaurants__Card 
{
    width: 90%;
    height: 210px;
    border: solid 1px;
    border-style: none;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

@mixin Restaurants__Card--img
{
    width: 100%;
    height: 140px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

@mixin fa-heart 
{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    
}

@mixin Footer 
{
    background: rgb(72, 72, 72);
    color: white;
    width: 100%;
 
}

@mixin footer-h5
{
    font-weight: normal;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

/*Lapalettedugout/html*/


@mixin background-image
{
    width: 100%;
    display: block;
   
}

@mixin background-fond
 {
    background: rgb(214, 211, 211);
    width: 100%;
    border: solid 1px;
    border-style: none;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -30px;
}

@mixin Div-Entrées-Plats-Desserts
{
    width: 90%;
    height: 60px;
    border: solid 1px;
    border-radius: 10px;
    background: white;
}

@mixin Container-entrées-plats-desserts
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin Titredumenu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin prix 
{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

