
/*Index/html*/

@mixin General
{
padding: 0;
margin: 0;
}

@mixin Lien-a
{
    text-decoration: none;
    color: black;
}
@mixin font-roboto
{
    font-family: $font-roboto;
}

@mixin font-Shrikhand
{
font-family: $font-shrikhand;
}

@mixin Coeur
{
    font-size: 22px;
}

@mixin Coeur-hover
{
color:  #9356DC;
font-weight: bold;
}

@mixin Header 
{
height: 60px ;
display: flex;
justify-content: center;
align-items: center;
}

@mixin Localisation
{
background: rgb(190, 186, 186);
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}

@mixin Réservez
{
background: rgb(236, 236, 236);
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: space-between;
text-align: center;
gap: 10px;

}

@mixin Button
{
    height: 30px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border: solid 1px;
    border-style: none;
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Button-hover
{
opacity: 0.9;
}

@mixin Fonctionnement__Titre
{
    font-weight: 900;
    font-size: 20px;
    padding-left: 15px;
}

@mixin Fonctionnement__step
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: space-around;
   gap: 10px;
   padding-top: 15px ;

}
@mixin Fonctionnement__Box 
{
background: rgb(236, 236, 236);
border: solid 1 px black;
border-radius: 20px;
width: 90%;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

@mixin Fonctionnement__step--number 
{
    position: absolute;
    left: -10px;
    background-color: #9356DC;
    border-radius: 50%;
    padding: 2px 6px 2px 6px;
    color: white;
}

@mixin Fonctionnement__Box--fa-solid
{
    color: grey;
    position: absolute;
    left: 30px;
}

@mixin Restaurants-Section
{
  background-color:rgb(236, 236, 236) ;  
  margin-top: 40px;
}

@mixin Restaurants__Titre
{
    font-weight: 900;
    font-size: 20px;
    padding-left: 15px;
}

@mixin Restaurants-container
{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
 width: 100%;
}

@mixin Restaurants__Card 
{
    width: 90%;
    height: 210px;
    border: solid 1px;
    border-style: none;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

@mixin Restaurants__Card--img
{
    width: 100%;
    height: 140px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

@mixin Card__fa-heart 
{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    
}

@mixin Nouveau
{
    
    height: 20px;
    background: #99E2D0;
    position: absolute;
    top: 10px;
    right: 10px;
    border: solid 1px;
    border-radius: 3px;
    border-style: none;
    color: #288925;
    text-align: center;
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
}

@mixin Footer 
{
    background: rgb(72, 72, 72);
    color: white;
    width: 100%;
 
}

@mixin footer-h5
{
    font-weight: normal;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

/*Lapalettedugout/html*/


@mixin background-image
{
    width: 100%;
    display: block;
   
}

@mixin background-fond
 {
    background: rgb(214, 211, 211);
    border: solid 1px;
    border-style: none;
    transform: scaleY(1.1);
    padding-bottom: 20px;
    margin-bottom: 45px;

}

@mixin Sous-titres
{
    font-weight: 100;
}

@mixin span
{
    border-bottom: 3px solid #99E2D0;
}

@mixin Entrées-Plats-Dessert
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 20px 0px;
   
}


@mixin Entrée-Plat-Dessert__box
{
    width: 90%;
    height: 60px;
    margin-bottom: 10px;
    border: solid 1px;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

   

}

@mixin ButtonCommander-container
{
display: flex;
justify-content: center;
}


@mixin prix 
{

}

@mixin AjoutPanier
{
    background: #99E2D0;
    width: 70px;
    height: 60px;
    border-radius: 0px 10px 10px 0px ;
    border: solid 1px;
    border-style: none;
}

@mixin AjoutPanier--Logo
{
    padding-left: 25px;
    padding-top: 20px;
    font-size: 20px;
}
