
/*Index/html*/






@mixin Header 
{
height: 60px ;
display: flex;
justify-content: center;
align-items: center;
}

@mixin Button
{
    height: 30px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border: solid 1px;
    border-style: none;
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}




